h1 {
    text-align: center;
    background-color: yellow;
    font-size: 84px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
}

ul {
    background-color: green;
    font-size: 24px;
    color: red;
}